@import './_display.css';
@import './_otherOperations.css';

:root {
  --main-bg-color: rgb(200, 200, 200);
}

.Calculator-container {
  max-width: 800px;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "display display display display"
    "other-operations other-operations other-operations .";
}

.btn {
  font-size: 1rem;
  padding: 2rem 3rem;
}
