.Other-Operations-container {
  --buttons-gray: #efefef;

  grid-area: other-operation;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}

.Other-Operations-btn {
  background-color: var(--buttons-gray);
}
