@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.037);
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  font: inherit;
}

button {
  cursor: pointer;
}

.hidden {
  position: absolute;
  left: -100000px;
  height: 0;
}
